body{
  font-family: 'Ubuntu', sans-serif;
  background-color:#EEE;
  padding: 0;
  margin: 0;
}
#wrapper{
  width: 800px;
  background-color: #FFF;
  margin: 0 auto;
  text-align: center;
  padding: 30px 0;
  border-radius: 10px;
}
button{
  width: 180px;
  height: 50px;
  color: white;
  border: none;
  font-size: 20px;
  cursor: pointer;
  border-radius: 5px;
  background-color: brown;
}
#title{}
h1{}
#userEntry{}
#userEntry form{}
#userEntry form label{}
input{
  width: 200px;
  height: 28px;
  font-size: 14px;
  border-radius: 5px;
  border: 1px solid #777;
  padding: 10px 0 10px 10px;
}
#userEntry form button{}
#turnJumbo{}
#player1Turn{}
h2{}
h2 span{}
#player1Turn p{}
#player2Turn {
  display: none;
}
#player2Turn p{}
#gameContainer{}
.box{
  float: left;
  width: 23%;
  border: 1px solid #777;
  padding: 0 20px;
  margin: 0 20px;
  display: inline-block;
}
#player1{}
#startScreen1{}
#player1Choice{
  
}
#player2Choice{

}
  #gameContainer button{
    margin-bottom:10px;
  }
button.rock{}
button.paper{}}
button.scissors{}
  ul{}
    li{}
#player1Guess{}
h3{}
#scoreAlert{

}
.scoreTracking{

}
.scoreTracking ul{
  padding:0;
  margin: 0;
  list-style: none;
}
.scoreTracking ul li{
  display: inline;
  padding: 0;
  margin: 0;
}
#player2{}
#startScreen2{}
#player2Choice{}
#player2Guess{}
#trashTalk{
  position: fixed;
  bottom: 0;
  right: 50px;
  background-color: #FFF;
  border-radius: 15px;
  width:430px;
}
#trashWindow{
  width: 90%;
  margin: 30px auto 20px auto;
  border: 1px solid #777;
  height: 200px;
  overflow-y: scroll;
  border-radius: 3px;
}
#trashForm{
  width:340px;
  margin:0 auto 20px auto;
}
#trashForm form{}
#trashForm input{}
#trashForm button{width:120px;}
.trash1{
  text-align: left;
  background-color: darkseagreen;
  display: block;
  width: auto;
  float: left;
  clear: both;
  padding: 5px;
  border-radius: 5px;
  margin: 10px 0 0 5px;
}
.trash2{
  text-align: right;
  background-color: cornflowerblue;
  display: block;
  width: auto;
  float: right;
  clear: both;
  padding: 5px;
  border-radius: 5px;
  margin: 10px 5px 0 0;
}
.clear{clear:both;}
